@font-face { font-family: Basteleur; src: url('Basteleur-Bold.ttf'); } 

h1 {
    font-family: Basteleur;
    color: #69A8A2;
    font-size: 4em;
}

h2 {
    font-family: Basteleur;
    font-size: 3em;
    color: #69A8A2;
    margin-bottom: 15vh;
}

p {
    font-style: italic;
}

body {
    text-align: center;
    background-color: #C0DEC7;
}

div {
    margin-top: 30vh;
}

.img_div {
    margin-top: 10vh;
}

@media screen and (max-width: 500px) {
    .small {width: 25vw;}
    iframe {width: 90vw;}
    #playlist {width: 90vw;}
    .book_size {height: 60vw;}
    #leaf {width: 25vw;}
}

@media screen and (min-width: 500px) {
    .small {height: 150px;}
    img {height: 300px;}

}